@media screen and (width < 600px) {
  .offCanvas .sideBarTitle h5::before,
  .offCanvas .sideBarTitle h5::after {
    width: 0%;
  }
  .sidebar .pages ul li a span{
    display: none;
  }
}

@media screen and (width > 1400px){
  .native-5col{
    width: 20%;
  }
}
