/* !General */
:root {
  --grayMainColor: #f7f7f6;
  --orangeColor: #f59e0b;
  --greenColor: #22c55e;
  --blueColor: #0d6efd;
  --redColor: #f44336;
  --aquaColor: #d2edfd;
  --redWhiteColor: #fecccd;
  --mainBackgroundColor: #f0f5f8;
}
/* ?Colors */
.orangeColor {
  color: var(--orangeColor);
}
.greenColor {
  color: var(--greenColor);
}
.greenColorBg {
  background-color: var(--greenColor);
}
.redColor {
  color: var(--redColor);
}
.redColorBg {
  background-color: var(--redColor);
}
.blueColor {
  color: var(--blueColor);
}
.blueColorBg {
  background-color: var(--blueColor);
}
.aquaColorBG {
  background-color: var(--aquaColor);
}
.redWhiteColorBG {
  background-color: var(--redWhiteColor);
}
.bgRedColor {
  background-color: red;
}
.cursorPointer {
  cursor: pointer;
}
/* ?Bootstrap*/
.form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: var(--bs-border-color) !important;
  outline: 0;
  box-shadow: none;
}

.form-check-input:focus {
  box-shadow: 0 0 0;
}

@font-face {
  font-family: Open_Sans;
  src: url(./../fonts/Open_Sans/static/OpenSans-Regular.ttf);
}
* {
  font-family: Open_Sans;
}
li {
  list-style: none;
}
a {
  color: unset;
  text-decoration: none;
}
.avatar {
  width: 70px;
  height: 70px;
}
/* !Offcanvas */
.sidebar {
  width: 13%;
}
.offCanvas .sideBarTitle {
  width: fit-content;
}
.offCanvas .sideBarTitle h5::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 2px;
  top: 155%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
}
.offCanvas .sideBarTitle h5::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  top: 155%;
  left: 50%;
  border: 5px solid white;
  border-radius: 100vh;
  transform: translate(-50%, -50%);
  background-color: black;
}
.offCanvas .pages ul .btn:hover {
  background-color: var(--grayMainColor);
}
.offCanvas .pages ul .btn.activeLink {
  background-color: var(--grayMainColor);
}
.btn:first-child:active {
  border-color: transparent;
}
/* !Main NavBar */
.navbar .input-group-text {
  background-color: white;
}
.navbar .form-control:focus {
  border-color: var(--bs-border-color);
  outline: none;
  box-shadow: unset;
}
.navbar .avatar {
  width: 35px;
  height: 35px;
}

/* !Page Content */
.pageContent {
  background-color: var(--mainBackgroundColor);
}
.pageContent .pageTitle {
  width: fit-content;
}
.pageContent .pageTitle h3::after {
  content: "";
  position: absolute;
  top: 110%;
  left: 0;
  width: 80%;
  height: 3px;
  background-color: white;
}
.pageContent .pageTitle h3::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 110%;
  left: 0;
  width: 30%;
  height: 3px;
  background-color: black;
}
/* ?Info */
.infoCard .cardBanner .avatar {
  left: 5%;
  top: 75%;
}
/* ?Draft */
.draftCard form * {
  outline: none;
  resize: none;
}
.draftCard form textarea {
  min-height: 12.5rem;
}
/* ?Target */
.targetCard .cardContent .icon {
  width: 100px;
  height: 80px;
}
.targetCard .cardContent .money .icon {
  background-color: #cce2fe;
}
.targetCard .cardContent .projects .icon {
  background-color: #fdedcf;
}

.targetCard .cardContent .team .icon {
  background-color: #d2f2df;
}
.targetCard .cardContent .money .icon i {
  color: var(--blueColor);
}
.targetCard .cardContent .projects .icon i {
  color: var(--orangeColor);
}
.targetCard .cardContent .team .icon i {
  color: var(--greenColor);
}
.targetCard .cardContent .progress {
  height: 5px;
}

.targetCard .cardContent .money .progress-bar {
  width: 80%;
  background-color: var(--blueColor);
}
.targetCard .cardContent .projects .progress-bar {
  width: 55%;
  background-color: var(--orangeColor);
}
.targetCard .cardContent .team .progress-bar {
  width: 75%;
  background-color: var(--greenColor);
}

.targetCard .bar p {
  bottom: 15px;
  translate: -50%;
  font-size: 13px;
}
.targetCard .money .bar p {
  left: 80%;
  background-color: var(--blueColor);
}
.targetCard .projects .bar p {
  left: 55%;
  background-color: var(--orangeColor);
}
.targetCard .team .bar p {
  left: 75%;
  background-color: var(--greenColor);
}
.targetCard .bar p::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  translate: -50%;
  border: 7px solid transparent;
}
.targetCard .money .bar p::after {
  border-top-color: var(--blueColor);
}
.targetCard .projects .bar p::after {
  border-top-color: var(--orangeColor);
}
.targetCard .team .bar p::after {
  border-top-color: var(--greenColor);
}
/* ?Statistics */
.statisticsCard .total i {
  color: var(--orangeColor);
}
.statisticsCard .pending i {
  color: var(--blueColor);
}
.statisticsCard .closed i {
  color: var(--greenColor);
}
.statisticsCard .deleted i {
  color: var(--redColor);
}
/* ?News */
.newsCard .cardItem figure {
  width: 20%;
  height: 20%;
}
.newsCard .cardItem p {
  font-size: 14px;
}
.cardItem span.shape {
  font-size: 12px;
  background-color: var(--grayMainColor);
}
/* ?Tasks */
.tasksCard .cardItem i {
  cursor: pointer;
  transition: color 0.5s;
}
.tasksCard .cardItem.disabled i {
  cursor: not-allowed;
}

.tasksCard .cardItem i:hover:not(.disabled i) {
  color: var(--redColor);
}
.topCard .cardItem {
  padding-block: 10px;
}
/* ?Updates */
.uploadCard .cardItem figure {
  width: 40px;
  height: 40px;
}
.uploadCard .cardItem {
  padding-block: 5px !important;
}
.uploadCard .cardItem h6 {
  font-weight: 600;
}
/* ?tasks */
.progressCard .cardItem li .Taskicon {
  display: inline-flex;
  width: 30px;
  height: 30px;
  background-color: var(--grayMainColor);
}

.progressCard .cardItem li.current .Taskicon i {
  animation-name: pulsing;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
.progressCard .cardItem li:last-of-type .Taskicon i {
  color: var(--grayMainColor);
}
@keyframes pulsing {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.progressCard .cardItem ul::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 3px;
  left: 13px;
  z-index: -1;
  background-color: var(--blueColor);
}
/* ?Reminders */
.remindersCard .cardContent {
  font-size: 12px;
}
.remindersCard .cardItem .remindersIcon::after {
  content: "";
  position: absolute;
  height: 40px;
  width: 2px;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
}
.remindersCard .cardItem:first-of-type .remindersIcon::after {
  background-color: var(--blueColor);
}
.remindersCard .cardItem:nth-of-type(2) .remindersIcon:after {
  background-color: var(--greenColor);
}
.remindersCard .cardItem:nth-of-type(3) .remindersIcon::after {
  background-color: var(--orangeColor);
}
.remindersCard .cardItem:nth-of-type(4) .remindersIcon::after {
  background-color: var(--redColor);
}
/* ?Social */
.socialCard .socialIcon {
  width: 55px;
  height: 55px;
  transition: rotate 0.3s;
}
.socialCard .socialIcon:hover {
  rotate: 5deg;
}
.socialCard .yt .btn:hover {
  background-color: red !important ;
}

/* ?Project Table */
.projectCard .team {
  width: 45px;
  height: 45px;
  top: 50%;
  transform: translateY(-50%);
}
.projectCard .team:first-of-type {
  left: 10%;
}
.projectCard .team:nth-of-type(2) {
  left: 25%;
}
.projectCard .team:nth-of-type(3) {
  left: 40%;
}
.projectCard .team:nth-of-type(4) {
  left: 55%;
}
.projectCard tr td button {
  font-size: 14px;
}
.projectCard table tr {
  transition: background-color 800ms;
}
.projectCard table tr:not(thead tr):hover {
  background-color: var(--grayMainColor);
}
/* !Settings */
/* ?Site Control */
.controlCard .cardItem h6:first-of-type {
  font-size: 17px;
}
.controlCard .cardItem p:first-of-type {
  font-size: 12px;
}

/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  border: 1px solid #adb5bd;
  transition: 0.4s;
  border-radius: 30px;
}

.switch .slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.27em;
  bottom: 0.25em;
  background-color: #adb5bd;
  transition: 0.4s;
}

.switch input:checked + .slider {
  background-color: #007bff;
  border: 1px solid #007bff;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #007bff;
}

.switch input:checked + .slider:before {
  transform: translateX(1.4em);
  background-color: #fff;
}
.cardItem input,
.cardItem textarea {
  font-size: 14px;
}
.cardItem textarea {
  resize: none;
  min-height: 140px;
}
/* ? Social Info */
.settingCards .socialCard .input-group span {
  width: 40px;
}
.settingCards .socialCard :has(input:focus) i {
  color: black !important;
}
/* ?Widgets Control */
.widgetsCard .cardItem .itemContent * {
  cursor: pointer;
}
.settingCards .cardItem .form-check-input {
  width: 18px;
  height: 18px;
}
.widgetsCard .cardItem .itemContent .form-check-label {
  font-size: 15px;
}
/* ?Backup */
.backupCard .cardItem .form-check * {
  cursor: pointer;
}
.backupCard .serversItem .itemContent {
  transition: border-color 500ms,color 500ms;
}
.backupCard .serversItem .itemContent:hover {
  border-color: var(--blueColor) !important;
  color: var(--blueColor);
}
